.help-header {
  padding: 60px;
  text-align: center;
  background: #2867B2;
  color: white;
  font-size: 30px;
}


p.accordion {
    background-color: #eee;
	border-radius: 5px;
	font-size: 17px;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
    margin-bottom:10px;
}

/* Add a background color to the accordion if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
p.accordion.active, p.accordion:hover {
    background-color: #ddd;
}
#BackBuilder,#MainMenu{

	color: white;
	font-weight: bold;
	border-radius: 50px;
	padding: 10px;
	padding-left: 20px;
	padding-right: 20px;
}
/* Unicode character for "plus" sign (+) */
p.accordion:after {
    content: '\2795'; 
    font-size: 13px;
    color: #444;
	text-align: left;
    float: right;
    margin-left: 5px;
}

/* Unicode character for "minus" sign (-) */
p.accordion.active:after {
    content: "\2796"; 
}

/* Style the element that is used for the panel class */

div.panel {
    padding: 0 18px;
    background-color: white;
	font-size: 17px;
	text-align: left;
    color: #444;
    max-height: 0;
    overflow: hidden;
    transition: 0.4s ease-in-out;
    opacity: 0;
    margin-bottom:10px;
	border-radius: 5px;
}

div.panel.show {
    opacity: 1;
    max-height: 500px; /* Whatever you like, as long as its more than the height of the content (on all screen sizes) */
}

.row{
	background: #2867B2;
}
.text-center{
	background: #2867B2;
		color: white;
}

.helpdesign{
	 border: 1px solid white ;
	padding: 30px;
	border-radius: 10px;
	border-width: 5px;
	
}